<h1 class="text-center">Preguntas frecuentes</h1>
<div class="sm-col-4">
    
    <p-panel class="m-1" [toggleable]="true" [collapsed]="true">
        <p-header>
            <h3>¿Como puedo contactarlos?</h3>
        </p-header>
        <p>
            Por medio de Whataspp al numero: <span class="text-primary">+57-300-6922-757</span>
            y al email: <span class="text-primary">{{email}}</span>
        </p>
    </p-panel>

    <p-panel class="m-1" [toggleable]="true" [collapsed]="true">
        <p-header>
            <h3>¿En que plataformas va a estar publicada mi propiedad?</h3>
        </p-header>
        <p>
            Para promocionar tu propiedad usaremos las principales plataformas
            líderes de reservas de alojamiento, como: AIRBNB, BOOKING, TRIPADVISOR.
        </p>
    </p-panel>

    <p-panel class="m-1" [toggleable]="true" [collapsed]="true">
        <p-header>
            <h3>¿Que tipo de contrato manejan?</h3>
        </p-header>
        <p>
            Por experiencia recomendamos manejar un contrato exclusivo con nosotros, ya que así no se
            presentaran conflictos en la hora de las reservas y asi mismo esto ayudaria a mejorar la
            calificacion de la propieddad. Aun asi puedes usar tu propiedad cuando lo desees,
            siempre y cuando el calendario de reservas este libre. Para un mejor manejo recomendamos 
            avisarnos para reservar esas fechas para ti y tu familia en caso que lo requieras
        </p>
    </p-panel>

    <p-panel class="m-1" [toggleable]="true" [collapsed]="true">
        <p-header>
            <h3>¿Que tipo de propiedades administran?</h3>
        </p-header>
        <p>
            Por la experiencia de nuestro equipo de trabajo podemos decir que somos especialistas
            tanto en casas, apartamentos, fincas vacacionales, cabañas, chalets y hoteles
        </p>
    </p-panel>

    <p-panel class="m-1" [toggleable]="true" [collapsed]="true">
        <p-header>
            <h3>Si necesito suministro de toallas, almohadas o sabanas para la propiedad,
                ¿Es brindado por ustedes?, ¿Tiene clagun costo extra?</h3>
        </p-header>
        <p>
            House Rent como compañia no se encarga de esto, sin embargo, en caso de ser requerido
            podemos brindale este servico, el cual tiene un costo extra dependiendo del caso
        </p>
    </p-panel>
    <p-panel class="m-1" [toggleable]="true" [collapsed]="true">
        <p-header>
            <h3>¿Ustedes me ayudan a convertirme en super host?</h3>
        </p-header>
        <p>
            Nuestra meta como equipo es lograrlo, para asi aumentar el numero de reservas de tu propiedad
            y asi cumplir uno de nuestros objetivos contigo, volverla mas rentable para ti
        </p>
    </p-panel>

    <p-panel class="m-1"  [toggleable]="true" [collapsed]="true">
        <p-header>
            <h3>¿quien se encarga de el aseo de mi propiedad?</h3>
        </p-header>    
        <p>
            El aseo es cubierto por los huespedes durante si estancia, pero en caso de ser requerido
            podriamos organizarlo por ti. Contamos con colaboradores disponibles para esta labor
        </p>
    </p-panel>

    <p-panel class="m-1"  [toggleable]="true" [collapsed]="true">
        <p-header>
            <h3>¿Cuentan con servico 24/7?</h3>
        </p-header>    
        <p>
            Claro que si, tenemos un equipo totalmente disponible con el fin de
            resolver dudas o inconvenientes que puedan tener ustedes o sus huespedes
        </p>
    </p-panel>

    <p-panel class="m-1"  [toggleable]="true" [collapsed]="true">
        <p-header>
            <h3>¿Como es el proceso de entrega de la propiedad a los huespedes</h3>
        </p-header>    
        <p>
            Nuestro equipo se encarga de hacer un inventario de cada elemento que hay en el lugar 
            y el estado de estos mismos como llaves, muebles, platos, electrodomesticos, etc
            y se le hace entrega de las llaves a los huespedes despues de verificar esto y tambien se
            hace una verificacion de este inventario cuando entregan el lugar
        </p>
    </p-panel>
    <p-panel class="m-1"  [toggleable]="true" [collapsed]="true">
        <p-header>
            <h3>¿Debe estar amoblada la propiedad para ser administrada?</h3>
        </p-header>    
        <p>
            Si, es totalmente necesario. Para que asi los huespedes cuenten con todas las comodidades
            (como si estuvieran en un hotel), si cuenta con elementos para cocinar seria un plus 
            que valoran mucho los usuarios
        </p>
    </p-panel>
    <p-panel class="m-1"  [toggleable]="true" [collapsed]="true">
        <p-header>
            <h3>En caso que la propiedad no sea rentada en el tiempo que este con ustedes, ¿Qué pasa?</h3>
        </p-header>    
        <p>
            Nuestra politica de trabajo es un ganar-ganar, en caso de que tu propiedad no cuente con
            alquileres programados, no se te cobrara ningun servicio bajo ningun concepto. 
            Solamente mietras la propiedad cuente con agenda de arrendamiento
        </p>
    </p-panel>
</div>