
    <!-- <h4 class="text-center mt-6">Trabajamos con los mejores</h4> -->
    <h1 class="text-center text-5xl mt-6">Plataformas de reservas de alojamiento que manejamos</h1>
    <div class="xl:flex flex-row w-full justify-content-around ">
        <div class="flex flex-column w-20rem ">
            <h2 class="text-center">AIRBNB</h2>
            <img class="w-5 ml-8 text-center" src="assets/logosPlataformas/airbnb-logo.png" alt="">
        </div>

        <div class="flex flex-column ">
            <h2 class="text-center">BOOKING</h2>
            <img class="w-6 ml-8 text-center" src="assets/logosPlataformas/booking-logo.png" alt="">
        </div>

        <div class="flex flex-column ">
            <h2 class="text-center">TRIPADVISOR</h2>
            <img class="w-7 ml-8 text-center" src="assets/logosPlataformas/tripadvisor-logo.png" alt="">
        </div>
    </div>
    