<div class="flex flex-column m-2 sm-flex-column">

    <h1 class="text-center text-teal-700 sm-text-sm">¿Quienes somos?</h1>

    <p class="text-center sm-text-justify p-3 ml-2">En <span class="text-cyan-400 text-xl">House rent</span> nos 
    dedicamos a ofrecer servicios de gestion y administracion de propiedades turisticas
    para propietarios como tú, que desean maximizar sus ingresos y minimizar las preocupaciones
    asociadas con la gestion de alquileres vacacionales
    </p> 
</div>

<h1 class="text-center mt-1 sm-text-sm">¿Por qué elegirnos?</h1>

<div class="block flex-column ml-3 justify-content-around sm:flex sm:flex-row">

    <p-card class="flex flex-column m-2 mt-2 w-20rem shadow-4 border-round-3xl sm-w-10rem sm:block">
        <h2 class="text-center text-teal-700">Administración y profesionalismo</h2>
        <hr>
        <p class="text-left p-3 ml-2">
            Contamos con un equipo experimentado y dedicado que se compromete a ofrecer
            un servicio de alta calidad en todo momento
        </p> 
    </p-card>

    <p-card class="flex flex-column m-2 mt-2 w-20rem shadow-4 border-round-3xl sm-w-10rem sm:block">
        <h2 class="text-center text-teal-700">Resultados comprobados</h2>
        <hr>
        <p class="text-center p-3 ml-2">
            Hemos ayudado a numerosos propietarios a aumentar sus ingresos y mejorar la experiencia 
            de sus huéspedes en AIRBNB
        </p> 
    </p-card>

    <p-card class="flex flex-column m-2 mt-2 w-20rem shadow-4 border-round-3xl sm-w-10rem sm:block">
        <h2 class="text-center text-teal-700">transparencia y confianza</h2>
        <hr>
        <p class="text-center p-3 ml-2">
            Nos enorgullecemos de nuestra honestidad y transparencia en todas nuestras interacciones
            y transacciones
        </p> 
    </p-card>

</div>



<h1 class="text-center sm-text-xs">Algunas opiniones de nuestro huespedes</h1>
<div class="flex flex-row flex-wrap justify-content-center sm-flex-flex-column" style="max-width: 80rem;">
    <img class="w-20rem shadow-4 border-round-2xl m-3 p-3"src="assets/imgOpiniones/opinion1.jpg" alt="">
    <img class="w-20rem shadow-4 border-round-2xl m-3 p-3"src="assets/imgOpiniones/opinion2.jpg" alt="">
    <img class="w-20rem shadow-4 border-round-2xl m-3 p-3"src="assets/imgOpiniones/opinion3.jpg" alt="">
    <img class="w-20rem shadow-4 border-round-2xl m-3 p-3"src="assets/imgOpiniones/opinion4.jpg" alt="">
</div>



