<!-- 
    TODO: por si a emely no le gusta como se ve sin el color, esta es la clase de css:
    bg-green-100 border-round-2xl 

    TODO: ajustar los servicos ofrecidos, agregar el  
    footer y mirar si quiere agregar planes de costos
 -->
<div class="sm:flex sm:flex-row block flex-column justify-content-center   ">
    <!-- Operamos tu alojamiento -->
    
    <p-card class="align-items-center w-auto  mt-0 ">
        <ng-template pTemplate="header">
            <h3 class="text-center">
               Manejamos tu alojo
            </h3>
            <hr>
        </ng-template>
        
        <ng-template pTemplate="content">
            <img 
            class="w-14rem"
            src="assets/img/beneficios2.png"
            alt="aumento de ingresos">
    
            <hr class="spacer">
        </ng-template>
    
        <ng-template pTemplate="footer">
            <p class="text-center">
                Nos encargamos de la promoción de los anuncios, estrategia de precios en el mercado, las reservas, 
                asistencia al huésped, el mantenimiento del alojamiento, entrega de llaves, limpieza, todo.
            </p>
        </ng-template>
    
    </p-card>
    
    <p-card class=" w-auto  mt-0 ">
        <ng-template pTemplate="header">
            <h3 class="text-center">
                Aumento de reservas
            </h3>
            <hr>
        </ng-template>
        
        <ng-template pTemplate="content">
            <img 
            class="w-15rem"
            src="assets/img/beneficio.png"
            alt="aumento de ingresos">

            <hr class="spacer">
        </ng-template>

        <ng-template pTemplate="footer">
            <p class="text-center">
                Con nuestra experiencia calidad de anuncios y medios digitales, logramos incrementar las cifras
                de reservas e ingresos.
                Nuestra actualizacion de precios diaria te hara destacar
            </p>
        </ng-template>

    </p-card>
    
    
    <!-- Estrellas y superhost -->
    
    <p-card class="align-items-center w-auto  mt-0 ">
        <ng-template pTemplate="header">
            <h3 class="text-center ">
                5 estrellas y Superhost
            </h3>
            <hr>
        </ng-template>
        
        <ng-template pTemplate="content">
            <img 
            class="w-15rem"
            src="assets/img/beneficio3.png"
            alt="Estrellas y superhost">

            <hr class="spacer">
        </ng-template>

        <ng-template pTemplate="footer">
            <p class="text-center">
                Pontencializamos tu alojamiento, brindando paquetes de bienvenida, atención al huésped 24/7  
                y una rigurosa limpieza logrando la satisfacción de los visitantes.
            </p>
        </ng-template>

    </p-card>

    
    <!-- Maximiaza tus ingresos -->
    
    <p-card class="align-items-center w-auto  mt-0">
        <ng-template pTemplate="header">
            <h3 class="text-center ">
                Maximiza tus ingresos
            </h3>
            <hr>
        </ng-template>
        
        <ng-template pTemplate="content">
            <img 
            class="w-16rem"
            src="assets/img/precios.png"
            alt="aumento de ingresos">

            <hr class="spacer">
        </ng-template>

        <ng-template pTemplate="footer">
            <p class="text-center">
                Aumenta tus ingresos por alquiler hasta un 45% más que un alquiler tradicional.
            </p>
        </ng-template>

    </p-card>
</div>
