<div class="mt-8 surface-900 spacer spacer block flex-column justify-content-center sm:flex sm:flex-row">
    <img src="assets/logoblanco.png" alt="logo" class="w-17rem align-self-start mt-4">

    <div class=" align-content-center pb-4 m-4">
        <h2 class="text-50">Redes sociales</h2>
        <div class="flex flex-column"> 
            <p-button [text]="true" label="Facebook" icon="pi pi-facebook"></p-button>

            <a href="https://www.instagram.com/houserent.latam/" 
            target="_blank"
            rel="noopener noreferrer">
            <p-button [text]="true" label="Instagram" icon="pi pi-instagram"></p-button>
            </a>

            <a href="https://api.whatsapp.com/send?phone=573006922757"
            target="_blank"
            rel="noopener noreferrer">
                <p-button [text]="true" label="Whatsapp" icon="pi pi-whatsapp"></p-button>
            </a>
        </div>
    </div>

    <div class="align-content-center pb-4 m-6">
        <h2 class="text-50">Contactanos</h2>
        <div class="flex flex-column ">
            <p-button [text]="true" label="Cartagena de indias, Bolivar" icon="pi pi-building"></p-button>
            <p-button [text]="true" label="Telefono: +57-300-6922-757" icon="pi pi-phone"></p-button>
            <p-button [text]="true" label="Email: houserentadm@gmail.com" icon="pi pi-envelope"></p-button>
        </div>
        
    </div>
</div>