<div class="card">
    <p-carousel  [value]="servicesOptions" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
        <ng-template *ngFor="let option of servicesOptions" let-option pTemplate="option">
            <div  class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                <div class="mb-3">
                    <img src="{{option.img}}" [alt]="option.titulo" class="w-6 shadow-2" />
                </div>
                <div>
                    <h4 class="mb-1">{{ option.titulo }}</h4>
                    <h5 class="mt-0 mb-3">{{ option.parrafo }}</h5>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>